# Server Configuration
PORT=4000

# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgresql://*******:******@*********/DB_Name?sslmode=require&channel_binding=require

# Environment
NODE_ENV=development